 <div class="container mt-5">
    
   <div class="row">
      <div class="col-md-6 prev pe-3">
        <a asp-action="create" asp-controller="RealState" asp-area="Admin"><img src="~/Images/1.jpg" class="w-100 " alt=""></a>
        <span class="products"><a asp-action="create" asp-controller="RealState" asp-area="Admin">Sell</a></span>
      </div>
     <div class="col-md-6 prev ps-3">
        <a asp-action="index" asp-controller="RealState" asp-area="Admin"><img src="~/Images/1.jpg" class="w-100 " alt=""></a>
       <span><a asp-action="index" asp-controller="RealState" asp-area="Admin"> buy</a></span>
     </div>
      </div>
 </div>