@model RealState



 <form asp-action="Edit" asp-controller="RealState" class="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoLink" class="control-label"></label>
                <input asp-for="VideoLink" class="form-control" />
                <span asp-validation-for="VideoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingNumber" class="control-label"></label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppartmentNumber" class="control-label"></label>
                <input asp-for="AppartmentNumber" class="form-control" />
                <span asp-validation-for="AppartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rooms" class="control-label"></label>
                <input asp-for="Rooms" class="form-control" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Baths" class="control-label"></label>
                <input asp-for="Baths" class="form-control" />
                <span asp-validation-for="Baths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group chec">
                <div class="checkbox">
                    <label>
                        <input asp-for="SwimmingPool" /> @Html.DisplayNameFor(model => model.SwimmingPool)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="LaundryRoom" /> @Html.DisplayNameFor(model => model.LaundryRoom)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="EmergencyExit" /> @Html.DisplayNameFor(model => model.EmergencyExit)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="FirePlace" /> @Html.DisplayNameFor(model => model.FirePlace)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input multiple asp-for="Images" type="file" class ="form-control" />
            </div>  
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class ="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class ="form-control" />
            </div>
            <div class="form-group bttn">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>